name: pytest

on:
  push:
    branches:
      - master
      - develop
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 4 1 * *'

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
        include:
          - os: macos-latest
            python-version: "3.10"

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install .
          pip install pytest
          pip install pytest-cov
          pip install pytest-benchmark
          pip install hypothesis
          pip install typing_extensions
          pip freeze

      - name: Run tests
        run: pytest --cov=pyerrors -vv
