name: pytest

on:
  push:
    branches:
      - master
      - develop
  pull_request:
  schedule:
    - cron: '0 4 1 * *'

jobs:
  pytest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
        include:
          - os: macos-latest
            python-version: 3.9
          - os: windows-latest
            python-version: 3.9

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install
        run: |
          python -m pip install --upgrade pip
          pip install wheel
          pip install .
          pip install pytest
          pip install pytest-cov
          pip install pytest-benchmark
          pip freeze

      - name: Run tests
        run: pytest --cov=pyerrors -vv
